<!DOCTYPE html>
<html>
     <head>
            <meta charset="UTF-8">
            <title>Meus Pokémons</title>
           
            <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <header>
        <h1 class="titulo"> PokeAPI</h1>
        <div>
            <img 
                 src="https://avatars.githubusercontent.com/u/78425657?s=460&u=b073b2319f30c9558c13d21d278f91f82aec71e2&v=4"
                 alt="Foto"
                 height="300px"
                 />
                 <span>Minca conta</span>
        </div>
    </header>
    <main>
        <div>
            <input type="text" placeholder="Digite Seu Pokemon Aqui"  />
        </div>
        <ul type = none>
            <li>
                   <div>
                       <strong>#1 Pineco</strong>
                       <img 
                           src="../assets/img/d6ijn1a-3e87a183-3e2b-4149-9152-1b7685722c88.png"
                           alt="Pokemon pineco"
                           width="200px"
                           />
                   </div>
            </li>     
            <li>
                <div>
                    <strong>#2 Pikachu</strong>
                    <img 
                        src="../assets/img/Pikachu_render_by_hikarichan95-d4jr57z.png"
                        alt="Pokemon Pikachu"
                        width="200px"
                        />
                </div>
         </li>     
        </ul>
    </main>
    <footer>
         <span>
             Desenvolvido por Thiago C. da Silva
         </span>
    </footer>
       </body>
</html>