<!DOCTYPE html>
<html>
     <head>
            <meta charset="UTF-8">

            <title>Meus Pokémons</title>
</head>
<body>
    <header>
        <span>PokeAPI</span>
        <div>
            <img 
                 src="https://avatars.githubusercontent.com/u/78425657?s=460&u=b073b2319f30c9558c13d21d278f91f82aec71e2&v=4"
                 alt="Foto"
                 height="300px"
                 />
                 <span>Minca conta</span>
        </div>
    </header>
    <main>
        <div>
            <input type="text" placeholder="Digite Seu Pokemon Aqui"  />
        </div>
        <ul>
            <li>
                   <div>
                       <strong>#1 Pineco</strong>
                       
                   </div>
            </li>
        </ul>
    </main>
       </body>
</html>